
/* @media screen and (min-width:300px){ */
    /* <div class="body-content" id="content"></div>
    <%@ include file="common/aside.jsp"%>
<%@ include file="common/footer.jsp"%> */
.bg_img{
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    height:100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    
    background: url(1457553.jpg);
    opacity: 0.3;
}

.bg{
    /* width:fit-content; */
    /* height:fit-content; */
    /* display:flex; */
    height: 100vh;
    width: 100vh;

}

.heading{
    position: absolute;
width: 317px;
height: 77px;
left: 20px;
top: 3px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 96px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-top: 0;
margin-bottom: 0;
}

body{
    margin: 0px;
    background: #000000;
}

.describe{
    position: absolute;
width: 559px;
height: 109px;
left: 32px;
top: 89px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #FFFFFF;
}

.update{
    position: absolute;
width: 81px;
height: 37px;
left: 32px;
top: 257px;

background: #2FB4FF;
border-radius: 17px;
}

.update_text{
    margin: auto;  
width: 60px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;

color: #FFFFFF;
}

.delete{
    position: absolute;
width: 81px;
height: 37px;
left: 129px;
top: 257px;

background: #E81717;
border-radius: 17px;
}

.delete_text{
    margin: auto;  
width: 60px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;

color: black;
}

.imdb{
position: relative;
width: 110px;
height: 48px;
left: 60%;
top: 40%;
overflow: hidden;
background: #FBFF1E;
border-radius: 17px;
}

.imdb_text{
    position: absolute;
width: 65px;
height: 35px;
left: 1153px;
top: 82px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;

color: #000000;
}

.imdb_rating{
    position: absolute;
width: 37px;
height: 33px;
left: 1307px;
top: 83px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;

color: #333333;
}

.genre{
    position: absolute;
width: 229px;
height: 48px;
left: 1136px;
top: 135px;

background: #FF391E;
border-radius: 17px;
}

.genre_text{
    position: absolute;
width: 76px;
height: 36px;
left: 1153px;
top: 140px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #000000;
}

.genre_type{
    position: absolute;
width: 60px;
height: 33px;
left: 1284px;
top: 140px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;
}

.cast{
    position: absolute;
width: 178px;
height: 24px;
left: 32px;
top: 358px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;
}

/* .H{
    position: absolute;
    top:447px ;
    left: 10%;
} */

.Hero{
    position: absolute;
width: 48px;
height: 24px;
left: 15%;
top: 407px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */


 color: #FFFFFF;
}

.Hero_pic{
    position: absolute;
width: 104px;
height: 150px;
left:15%;
top: 447px;

background: url(image.png);
border-radius: 50px;
}

.Hero_name{
    position: absolute;
width: 84px;
height: 24px;
left: 15%;
top: 597px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
} 

.Heroin{
    position: absolute;
width: 70px;
height: 24px;
left: 45%;
top: 407px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;
}

.Heroin_pic{
    position: absolute;
width: 104px;
height: 150px;
left: 45%;
top: 447px;

background: url(image.png);
border-radius: 50px;
}

.Heroin_name{
    position: absolute;
width: 102px;
height: 24px;
left: 45%;
top: 597px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;
}

.Villan{
    position: absolute;
width: 70px;
height: 24px;
left: 75%;
top: 407px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;
}

.Villan_pic{
    position: absolute;
width: 112px;
height: 150px;
left: 75%;
top: 447px;

background: url(image.png);
border-radius: 50px;
}

.Villan_name{
    position: absolute;
width: 104px;
height: 24px;
left: 75%;
top: 597px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;
}
/* } */

@media screen and (max-width:600px) {
    .bg_img{
        position: absolute;
    width: 375px;
    height: 667px;
    left: 0px;
    top: 0px;
    
    background: url(1457553.jpg);
    opacity: 0.3;
    }

    .imdb{
        position: relative;
        /* width: 70px; */
        /* height: 30px; */
        left: 20%;
        top: 320px;
        /* overflow: hidden; */
        background: #FBFF1E;
        border-radius: 17px;
        }

        .imdb_text{
            position: relative;
        width: 0px;
        height: 0px;
        left: 10px;
        top: 0px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size:100%;
        line-height: 36px;
        
        color: #ffffff;
        }
        
        .imdb_rating{
            position: relative;
        width: 37px;
        height: 33px;
        left: 1307px;
        top: 83px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        
        color: #333333;
        }
    
}